/* класс для отключения точек в ul-списке */
.list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* класс для отключения подчеркивания ссылок */
.link {
text-decoration: none;
}

/* общий класс для паддинга секций */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* общий класс для всех секций */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

/* указатель на ссылки */
.button {
    cursor: pointer;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}